package controller

import (
	"github.com/gofiber/fiber/v2"
	"{{ .PkgPath }}/service"
)

type {{ .Name }}Controller struct {
    service *service.{{ .Name }}Service
}

func New{{ .Name }}Controller(service *service.{{ .Name }}Service) *{{.Name }}Controller {
	return &{{ .Name }}Controller{
	    service,
	}
}

func (c *{{ .Name }}Controller) HelloWorld(ctx *fiber.Ctx) error {
	return ctx.SendString(c.service.HelloWorld())
}
