package {{ .Name }}

import (
	"{{ .PkgPath }}/controller"
	"{{ .PkgPath }}/service"
	"{{ .PkgPath }}/repository"
	"go.uber.org/dig"
)

// Register{{ .Name }}Module 在 DI 容器中注册 {{ .Name }} 模块
func {{ .UpperName }}ModuleSetup(container *dig.Container) {
	container.Provide(controller.New{{ .UpperName }}Controller)
	container.Provide(service.New{{ .UpperName }}Service)
	container.Provide(repository.New{{ .UpperName }}Repository)
}
