package service

import (
	"{{ .PkgPath }}/repository"
)

type {{ .Name }}Service struct {
    repository *repository.{{.Name }}Repository
}

func New{{ .Name }}Service(repository *repository.{{ .Name }}Repository) *{{.Name }}Service {
	return &{{ .Name }}Service{
	    repository,
	}
}