package service

import (
	"{{ .PkgPath }}/repository"
)

type {{ .Name }}Service struct {
    repository *repository.{{.Name }}Repository
}

type {{ .Name }}ServiceDeps struct {
	Repository *repository.{{.Name }}Repository
}

func New{{ .Name }}Service(deps {{ .Name }}ServiceDeps) *{{.Name }}Service {
	return &{{ .Name }}Service{
	    repository: deps.Repository,
	}
}